@import "custom-variable";
.main-wrap{
    min-height: 200px;
    position: relative;
    padding: 12px;
    margin-top:120px;
}

form{
    max-width: 500px;
    padding: 16px 24px;
    margin: auto;
    background: $color-form;
    border-radius: 8px;
    box-shadow: -25px 20px 39px -14px rgba(196,196,196,0.32);
}