$roboto: 'Roboto', sans-serif;
$bg-body:#efefef;
$color-form:#ffffff;
$primary: #372045;
$primary1: #4b2b5d;
$primary2: #63377c;
$primary3: #825f96;
$primary4: #b19bbd;
$primary5: #f9f8fa;

$secondary: #ae923f;
$secondary1: #c9ac56;
$secondary2: #e2c97d;
$secondary3: #ead9a8;
$secondary4: #f3ecd7;
$secondary5: #faf7ef;
$secondary6: #fffefa;

$bg-header: #F4EDE4;

// $color-body: #403d58;

$color-black1: #0c0312;
$color-black2: #3d3541;
$color-black3: #6d6871;
$color-black4: #9e9aa0;

$color-gray: #cecdd0;
$color-gray1: #f3f2f3;
$color-gray2: #f7f7f8;

$color-gray3: #bdbcc5;
$color-gray4: #f7f7f8;
$color-gray5: #fcfcfc;

$color-white: #ffffff;
$color-black: #000000;
$active-state: #63377c;
$error: #c4211a;
$warning: #c7a169;
$success: #6a8b53;
$success1: #edfff8;
$success2: #e5fffb;
$success3: #e7f9eb;

$color-transparent: transparent;

$supporting-dark-color1: #2ab867;
$supporting-dark-color2: #c0aa56;
$supporting-dark-color3: #e25c4c;
$supporting-dark-color4: #6c83b8;
$supporting-dark-color5: #222165;
$supporting-dark-color6: #6c83b8;

$supporting-light-color1: #ffedea;
$supporting-light-color2: #edfff8;
$supporting-light-color3: #f0eeff;
$supporting-light-color4: #fff6ee;
$supporting-light-color5: #e5fffb;
$supporting-light-color6: #e7f9eb;
$supporting-light-color7: #ffe9e9;

$neutral: #c7a387;
$neutral1: #f9dec9;
$neutral3: #ffe7d4;
$neutral4: #fff8f2;

$gardient-brown: linear-gradient(104.64deg, #a25245 0%, #7a382d 100%);
$gardient-highlight: linear-gradient(90.05deg,
        #f0eeff 0.05%,
        #ffdede 22.12%,
        #c6ffd3 35.16%,
        #fff6d6 61.25%,
        #f1d9ff 79.73%,
        #aeffd1 104.41%);

/*font -weight*/
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi: 600;
$font-bold: 700;