// import Google Fonts 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
// import scss 
@import "scss/bootstrap.scss";
@import "common";
@import "custom-variable";
@import "login";

*{
    box-sizing: border-box;
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: $roboto;
    background: $bg-body;
}